@import url("https://fonts.googleapis.com/css?family=Montserrat:600|Open+Sans");

*,
*:before,
*:after {
    -webkit-box-sizing: inherit;
    -moz-box-sizing: inherit;
    box-sizing: inherit;
}

html {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    font-family: "Open Sans", sans-serif;
    margin: 0;
    background: #fff;
    color: #999;
}

.container {
    margin: 25px auto;
}
.btn {
    margin-right: 5px;
}
.p-cur {
    cursor: pointer;
}
.m-b-20 {
    margin-bottom: 20px;
}
.img-responsive {
    width:100%;
    height: auto;
}