@import "../../node_modules/@coreui/coreui/scss/coreui";
@use postcss-color-function;
@use postcss-nested;
@import url("https://fonts.googleapis.com/css?family=Raleway:400,700,900");

body {
  background: #ffffff;
}

.app {
  .container {
    max-width: 1290px;
  }
}